@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=General+Sans:wght@400;500;600;700;800&display=swap');

:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #14233a;
  background: #f8f6f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
